.header {
  background-color: var(--secondaryColor);
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  text-align: center;
}

.header img {
  border-radius: 100%;
  width: 8rem;
  margin-bottom: 0.5rem;
}

.links {
  display: grid;
  place-items: center;
  justify-content: space-evenly;
  grid-template-areas: "started joined score";
  width: 100%;
}

.links div:first-of-type { grid-area: started; }
.links div:nth-of-type(2) { grid-area: joined; }
.links div:last-of-type { grid-area: score; }

.links a {
  display: block;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.links a, .links h3 {
  width: min-content;
}

.header span {
  padding: 0.125rem 0.25rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section h2 {
  text-align: center;
}

@media (width < 48.54rem) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .links {
    grid-template-areas: "started score joined";
  }
}

@media (width < 38.375rem) {
  .links {
    grid-template-areas: "started joined" "score score";
    gap: 1rem;
    padding: 0 1rem;
  }
}

@media (width < 23.0625rem) {
  .links {
    grid-template-areas: "started" "joined" "score";
    padding: 0;
  }
}