.nav {
  background-color: var(--tertiaryColor);
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 0.5rem;
  padding: 0.5rem 0;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: height 0.5s ease;
}

.nav div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  grid-column: 2;
}

.nav div:first-of-type a {
  font-weight: 600;
  text-transform: uppercase;
  width: min-content;
}

.nav svg {
  display: none;
  height: 2rem;
  fill: var(--textColor);
  transition: transform 0.5s ease;
}

.nav > a:first-of-type {
  grid-column: 1;
  justify-self: right;
}

.nav > a:first-of-type:hover, .nav > a:first-of-type.active {
  background-color: var(--unpopularColor);
}

.nav > a:last-of-type {
  grid-column: 3;
  justify-self: left;
}

.nav > a:last-of-type:hover, .nav > a:last-of-type.active {
  background-color: var(--popularColor);
}

.nav > a {
  grid-row: 1;
}

.nav div:last-of-type {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
}

.nav div:last-of-type a:hover, .nav div:last-of-type a.active {
  background-color: var(--secondaryColor);
}

.nav span, .nav a:not(.nav div:first-of-type a) {
  padding: 0.125rem 0.25rem;
  border-radius: 0.5rem;
}

.nav a.active {
  font-weight: 600;
}

.nav a {
  text-decoration: none;
}

.nav.active {
  height: 24.5rem;
}

.nav.active svg {
  transform: rotate(180deg);
}

@media (width < 28.25rem) {
  .nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 12.25rem;
    height: 4.65rem;
    overflow: hidden;
  }

  .nav svg {
    display: block;
  }

  .nav div:last-of-type {
    flex-direction: column;
    align-items: center;
  }

  .nav, .nav div:last-of-type {
    gap: 1rem;
  }
}