@import "tailwindcss";

@layer base {
  body {
    @apply font-sans text-sm font-medium bg-gray-900 text-gray-300;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  body > * {
    @apply overflow-hidden;
  }

  main > * {
    @apply w-full min-w-64;
  }
}

@layer components {
  .box {
    @apply bg-gray-800 border border-gray-700 rounded-xl;
  }

  .card {
    @apply bg-gray-700 border border-gray-600 rounded-lg p-5;
  }

  .btn {
    @apply py-1.5 px-3 rounded-full hover:cursor-pointer;
  }

  .btn-vote {
    @apply py-2 px-4 rounded-lg text-white font-bold flex items-center justify-center w-full;
  }

  .form {
    @apply bg-gray-700 text-gray-100 border border-gray-600 text-base rounded-lg p-3;
  }
}
