@import "tailwindcss";

@theme inline {
  
}

@layer base {
  body {
    @apply font-sans text-sm font-medium bg-gray-900 text-gray-300;
  }

  h3 {
    @apply text-xl font-semibold;
  }
}

@layer components {
  .box {
    @apply bg-gray-800 border border-gray-700 rounded-xl;
  }

  .btn {
    @apply py-1.5 px-3 rounded-full;
  }
}
