@import "tailwindcss";

@theme {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(77, 77, 77);
  --color-tertiary: rgb(38, 38, 38);
  --color-text: rgb(255, 255, 255);
  --color-unpopular: rgb(255, 77, 77);
  --color-popular: rgb(77, 77, 255);
  --font-display: var(--font-display);
  --text-h-one: 2.5rem;
  --text-h-two: 2rem;
  --breakpoint-plg: 52.5rem;
  --breakpoint-pmd: 38.5rem;
  --breakpoint-psm: 27.5rem;
}

@layer base {
  body {
    @apply font-display text-base bg-primary text-text;
  }

  h1 {
    @apply text-h-one;
  }

  h2 {
    @apply text-h-two;
  }

  h3 {
    @apply text-2xl;
  }

  h1, h2, h3 {
    @apply uppercase font-bold;
  }

  span:not(p span) {
    @apply bg-linear-to-r from-unpopular via-[rgb(166,77,166)] to-popular rounded-lg px-1 font-semibold uppercase inline-block;
  }

  nav a:not(nav > div:first-of-type a) {
    @apply px-1 rounded-lg;
  }

  nav div:last-of-type a:hover, nav div a.active {
    @apply bg-secondary;
  }

  nav a.active {
    @apply font-semibold;
  }

  button, input[type="submit"] {
    @apply bg-tertiary text-text px-4;
  }

  button, select, input[type="submit"] {
    @apply rounded-lg py-1;
  }

  input[type="text"], textarea {
    @apply bg-text placeholder-gray-500 w-full py-1 px-2 rounded-lg;
  }

  hr {
    @apply grow border-b border-dotted;
  }

  main > * {
    width: max(14rem, 100%);
  }
}

@layer components {
  .box {
    @apply bg-secondary p-4 rounded-xl;
  }

  .bordered {
    @apply bg-tertiary border-secondary;
  }

  .tag {
    @apply bg-tertiary rounded-lg px-1 font-semibold;
  }
}
