:root {
  --primaryColor: #000000;
  --secondaryColor: #4D4D4D;
  --tertiaryColor: #262626;
  --textColor: #FFFFFF;
  --unpopularColor: #FF4D4D;
  --popularColor: #4D4DFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

body {
  background-color: var(--primaryColor);
  color: var(--textColor);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3 {
  text-transform: uppercase;
}

span:not(p span) {
  background-image: linear-gradient(to right, var(--unpopularColor), var(--popularColor));
  border-radius: 0.5rem;
  display: inline-block;
  text-transform: uppercase;
}

a {
  color: inherit;
}

button, input[type="submit"] {
  background-color: var(--tertiaryColor);
  border: none;
  color: var(--textColor);
  padding: 0.5rem 1rem;
}

button, select, input, textarea {
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.5rem;
}

button:hover {
  cursor: pointer;
}

svg {
  height: 1rem;
  width: auto !important;
}