.user {
  display: flex;
  align-items: center;
}

.user img {
  border-radius: 100%;
  width: 2rem;
}

.user div {
	position: relative;
	background: var(--textColor);
	border-radius: 0.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user div:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.5rem solid transparent;
	border-right-color: var(--textColor);
	border-left: 0;
	margin-top: -0.5rem;
	margin-left: -0.5rem;
}

.user svg {
  position: absolute;
  right: 0.5rem;
  color: var(--primaryColor);
}

.user i {
  font-size: 0.875rem;
  margin-right: 1rem;
}