.details {
  background-color: var(--secondaryColor);
  padding: 1rem;
  border-radius: 0.75rem;
  container-type: inline-size;
}

.details summary, .details legend {
  width: fit-content;
  margin: 0 auto;
}

.details summary:hover {
  cursor: pointer;
}

.details div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.details fieldset {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--textColor);
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.details > fieldset {
  margin: 0.5rem auto 0;
  width: fit-content;
}