.details {
  background-color: var(--secondaryColor);
  padding: 1rem;
  border-radius: 0.75rem;
}

.details summary, .details legend {
  width: fit-content;
  margin: 0 auto;
}

.details div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.details fieldset {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--textColor);
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.details > fieldset {
  margin-top: 0.5rem;
}