.details {
  background-color: var(--secondaryColor);
  padding: 1rem;
  border-radius: 0.75rem;
  width: min(100%, 43.25rem);
}

.details summary, .details legend {
  width: fit-content;
  margin: 0 auto;
}

.details summary:hover {
  cursor: pointer;
}

.details div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.details fieldset {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--textColor);
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (width < 37rem) {
  .details div {
    flex-direction: column;
  }
}