.div {
  background-color: var(--secondaryColor);
  padding: 1rem;
  border-radius: 0.75rem;
  position: relative;
  container-type: inline-size;
}

.div i {
  font-size: 0.875rem;
}

.div > svg {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.div a {
  text-decoration: none;
}

.div > span {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
  right: 1.25rem;
  padding: 0.125rem 0.25rem;
  font-weight: 600;
}

.div h2 {
  margin-bottom: 0.5rem;
}

.div h2, .div h3 {
  margin-top: 0.5rem;
}

.div > p:last-of-type {
  text-align: center;
  font-size: 0.875rem;
}

.bar {
  padding: 0.5rem 0;
  background-image: linear-gradient(to right, var(--unpopularColor), var(--popularColor));
  border-radius: 0.5rem;
  position: relative;
  margin: 1rem 0 0.25rem;
}

.bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.stats div {
  display: flex;
  gap: 0.5rem;
}

.stats p, .stats a {
  background-color: var(--tertiaryColor);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
}

.stats svg {
  height: 0.8rem;
}

@container (width < 14.25rem) {
  .stats span {
    display: none;
  }
}